/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
    background-color: whitesmoke;
    color: black;
}
h1{
    font-size: 50px;
    padding: 5%;
}
.dance{
    background-color: lightskyblue;
    text-align: center;
    height: 30vh;
    border-radius: 20px;
}
.danger{
    background-color: red;
    height: 100vh;
    border-radius: 15px
}